.bg {
    background-image: url("./images/ironmanwp.jpg"); /* The image used */
    background-size: cover !important;
    min-height: 100vh; 
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
  }

  .navbar{
    display: flex;
  justify-content: space-around;}

  .borderbox {
    border: silver solid 2px;
    background-color: black;
    padding: 7px;
    margin-bottom: 3px;
  }